In [32]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [33]:
# Load the stock data into a pandas DataFrame
df = pd.read_csv('NVDA.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-02-09,256.220001,267.250000,253.529999,267.049988,266.800507,52428200
1,2022-02-10,259.950012,269.250000,256.000000,258.239990,257.998749,51320000
2,2022-02-11,259.160004,261.519989,237.729996,239.490005,239.266281,60547200
3,2022-02-14,239.339996,248.750000,237.550003,242.669998,242.443283,44042400
4,2022-02-15,249.490005,265.450012,247.839996,264.950012,264.702484,69986900
...,...,...,...,...,...,...,...
246,2023-02-02,210.000000,219.490005,207.000000,217.089996,217.089996,56427600
247,2023-02-03,210.000000,217.449997,207.889999,211.000000,211.000000,42892500
248,2023-02-06,208.059998,215.699997,207.860001,210.889999,210.889999,45219700
249,2023-02-07,213.820007,222.589996,211.500000,221.729996,221.729996,66415000
250,2023-02-08,223.869995,228.779999,220.080002,222.050003,222.050003,55895500

In [34]:
# Select the relevant features for the model
# features = ['previous_price', 'market_performance', 'company_revenue']
features = ['Open', 'Close']
X = df[features]
y = df['Close']

In [35]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train)
print(X_test)

           Open       Close
158  125.070000  124.129997
215  168.639999  165.710007
101  154.559998  158.580002
137  178.570007  162.600006
66   175.089996  172.639999
..          ...         ...
106  151.080002  153.720001
14   237.559998  242.199997
92   165.190002  162.250000
179  128.690002  128.960007
102  154.300003  158.380005

[200 rows x 2 columns]
           Open       Close
155  130.699997  125.610001
6    256.299988  245.070007
164  129.110001  132.089996
60   187.360001  186.750000
113  170.190002  170.240005
182  137.779999  134.970001
198  153.279999  160.380005
248  208.059998  210.889999
9    238.020004  223.869995
118  181.820007  184.410004
175  121.129997  121.940002
217  160.639999  160.850006
219  160.940002  153.389999
139  159.600006  154.679993
67   180.740005  181.770004
225  148.509995  143.149994
195  157.149994  156.770004
15   242.619995  237.139999
120  181.839996  188.929993
24   235.000000  244.960007
241  197.009995  198.020004
19   223.869995  230.139999
115  170.320007  177.899994
68   177.050003  169.380005
177  125.080002  125.989998
45   225.050003  212.580002
55   194.020004  185.470001
10   210.149994  237.479996
30   261.660004  281.500000
234  168.990005  177.020004
237  170.110001  178.389999
33   286.950012  286.559998
220  151.960007  152.059998
196  159.660004  154.089996
25   241.199997  247.660004
126  181.309998  179.419998
18   213.089996  215.139999
73   160.199997  169.750000
132  184.059998  178.490005
82   187.990005  186.479996
119  181.220001  185.259995
97   153.610001  151.589996
79   190.820007  187.199997
84   176.000000  169.740005
192  162.179993  162.949997
16   233.839996  229.360001
86   157.309998  158.360001
124  172.520004  170.860001
181  131.039993  138.339996
38   272.540009  259.309998
173  123.440002  119.669998

In [40]:
# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Use the trained model to make predictions on the test set
y_pred = model.predict(X_test)
print(y_pred)

# Evaluate the model using mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

[125.610001 245.070007 132.089996 186.75     170.240005 134.970001
 160.380005 210.889999 223.869995 184.410004 121.940002 160.850006
 153.389999 154.679993 181.770004 143.149994 156.770004 237.139999
 188.929993 244.960007 198.020004 230.139999 177.899994 169.380005
 125.989998 212.580002 185.470001 237.479996 281.5      177.020004
 178.389999 286.559998 152.059998 154.089996 247.660004 179.419998
 215.139999 169.75     178.490005 186.479996 185.259995 151.589996
 187.199997 169.740005 162.949997 229.360001 158.360001 170.860001
 138.339996 259.309998 119.669998]
Mean Squared Error: 3.049024737983644e-28